In [44]:
#pip install pymysql

Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/e5/30/20467e39523d0cfc2b6227902d3687a16364307260c75e6a1cb4422b0c62/PyMySQL-1.1.0-py3-none-any.whl.metadata
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   ------------------ --------------------- 20.5/44.8 kB 682.7 kB/s eta 0:00:01
   ---------------------------------------- 44.8/44.8 kB 1.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0
Note: you may need to restart the kernel to use updated packages.

In [45]:
import mysql.connector
import json
import pymysql

In [48]:


# Establishing a connection to the MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="jayant",
    database ="USERS_DATA")

In [49]:
if conn.is_connected():
    print("Connection to MySQL server is working.")
else:
    print("Connection to MySQL server is not established.")
mycur= conn.cursor()

Connection to MySQL server is working.

In [ ]:
database_name = "USERS_DATA"

try:
    #cursor.execute(f"CREATE DATABASE {database_name}")
    print(f"Database '{database_name}' created successfully")
except mysql.connector.Error as err:
    print(f"Error: {err}")

In [23]:
create_table_query = """
CREATE TABLE IF NOT EXISTS users (
    id VARCHAR(20) PRIMARY KEY,
    name VARCHAR(255),
    screen_name VARCHAR(255),
    location VARCHAR(255),
    verified BOOLEAN,
    followers_count INT,
    statuses_count INT,
    friends_count INT
)
"""

# Execute the query to create the table
# mycur.execute(create_table_query)

In [50]:
mycur.execute("describe Users")
for X in mycur:
    print(X)

('id', 'varchar(20)', 'NO', 'PRI', None, '')
('name', 'varchar(255)', 'YES', '', None, '')
('screen_name', 'varchar(255)', 'YES', '', None, '')
('location', 'varchar(255)', 'YES', '', None, '')
('verified', 'tinyint(1)', 'YES', '', None, '')
('followers_count', 'int', 'YES', '', None, '')
('statuses_count', 'int', 'YES', '', None, '')
('friends_count', 'int', 'YES', '', None, '')

In [51]:
#insert path and replace name of the file below as needed
extracted_data=[]
count = 0
with open("C:\\Users\\chaud\\Desktop\\Sem_2\\AdvanceDatabase\\FinalProject\\corona-out-2\\corona-out-2", "r") as f1:
    for line in f1:
        try:
            data = json.loads(line)
            user = data['user']
            extracted_user_data = {
                'id': user['id_str'],
                'name': user['name'],
                'screen_name': user['screen_name'],
                'location': user['location'],
                'verified': user['verified'],
                'followers_count': user['followers_count'],
                'statuses_count': user['statuses_count'],
                'friends_count': user['friends_count']
                }
            extracted_data.append(extracted_user_data)
          
        except:
            count+=1
            continue
    
    print("fail to load error",count)

In [52]:
counter = 0
for user_data in extracted_data:
    print(user_data)
    counter += 1
    if counter >= 10:
        break

{'id': '1242817830946508801', 'name': 'juwelz v', 'screen_name': 'juwelz_v', 'location': 'Lower East Side, Manhattan', 'verified': False, 'followers_count': 43, 'statuses_count': 906, 'friends_count': 118}
{'id': '1225145123920588805', 'name': 'efe09', 'screen_name': 'efe0927183508', 'location': None, 'verified': False, 'followers_count': 653, 'statuses_count': 4177, 'friends_count': 983}
{'id': '101007632', 'name': 'Ravin Gupta', 'screen_name': 'IamRaavin', 'location': 'india', 'verified': False, 'followers_count': 499, 'statuses_count': 4038, 'friends_count': 537}
{'id': '1230170166614482944', 'name': 'Carpe diem', 'screen_name': 'Carpedi92670638', 'location': None, 'verified': False, 'followers_count': 425, 'statuses_count': 13101, 'friends_count': 459}
{'id': '4707764075', 'name': 'UpsidedownTurtle 🧢', 'screen_name': 'Adakisn', 'location': None, 'verified': False, 'followers_count': 76, 'statuses_count': 7471, 'friends_count': 82}
{'id': '988174833849634816', 'name': 'TV Conservador / Metró', 'screen_name': 'TVConservador', 'location': 'Belém, Brasil', 'verified': False, 'followers_count': 7240, 'statuses_count': 22665, 'friends_count': 566}
{'id': '270088915', 'name': 'Charles Mire', 'screen_name': 'charlesmire', 'location': 'Kitchener-Waterloo, Canada', 'verified': False, 'followers_count': 1295, 'statuses_count': 52236, 'friends_count': 1724}
{'id': '2515708525', 'name': 'Ashu', 'screen_name': 'Physics_Ashu', 'location': 'Varanasi, India', 'verified': False, 'followers_count': 25, 'statuses_count': 1083, 'friends_count': 807}
{'id': '1171484224244744198', 'name': 'Elfpunkt', 'screen_name': 'meElfpunkt', 'location': None, 'verified': False, 'followers_count': 3, 'statuses_count': 60, 'friends_count': 53}
{'id': '2341644176', 'name': 'Abhisht', 'screen_name': 'abhishttripathi', 'location': 'UP36', 'verified': False, 'followers_count': 595, 'statuses_count': 17720, 'friends_count': 535}

In [57]:
# SQL statement for checking if a record already exists
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='jayant',
                             database='USERS_DATA',
                             cursorclass=pymysql.cursors.DictCursor)



# SQL statement for checking if a record already exists
check_sql = "SELECT COUNT(*) FROM Users WHERE id = %s"

# SQL statement for inserting data
insert_sql = "INSERT INTO Users (id, name, screen_name, location, verified, followers_count, statuses_count, friends_count) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"

# Execute INSERT queries in a loop, skipping duplicates
with connection.cursor() as cursor:
    for user_data in extracted_data:
        # Check if the record already exists
        cursor.execute(check_sql, (user_data['id'],))
        result = cursor.fetchone()
        if result['COUNT(*)'] == 0:
            # If the record does not exist, insert it
            cursor.execute(insert_sql, (
                user_data['id'],
                user_data['name'],
                user_data['screen_name'],
                user_data['location'],
                user_data['verified'],
                user_data['followers_count'],
                user_data['statuses_count'],
                user_data['friends_count']
            ))
            # Commit the transaction
            connection.commit()

# Close connection
connection.close()

In [60]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='jayant',
                             database='USERS_DATA',
                             cursorclass=pymysql.cursors.DictCursor)

# SQL statement to select all records from the Users table
select_sql = "SELECT * FROM Users LIMIT 50"

# Execute the SELECT query
with connection.cursor() as cursor:
    # Execute the query
    cursor.execute(select_sql)
    # Fetch all records
    records = cursor.fetchall()

# Print the retrieved records
for record in records:
    print(record)

{'id': '1000083595548127232', 'name': 'mariana', 'screen_name': 'marianap07', 'location': '🥺', 'verified': 0, 'followers_count': 219, 'statuses_count': 30962, 'friends_count': 216}
{'id': '1000135976629489665', 'name': '⁷', 'screen_name': 'hayalimvarr', 'location': None, 'verified': 0, 'followers_count': 143, 'statuses_count': 6764, 'friends_count': 95}
{'id': '1000488928024055808', 'name': 'full time world savior', 'screen_name': 'KingGunturr', 'location': 'Knowhere, Earth-5 ', 'verified': 0, 'followers_count': 171, 'statuses_count': 1449, 'friends_count': 526}
{'id': '1000530300714266624', 'name': 'Gülçin', 'screen_name': 'Pluvviophille', 'location': 'Antalya, Türkiye', 'verified': 0, 'followers_count': 59, 'statuses_count': 499, 'friends_count': 261}
{'id': '1000776381842706432', 'name': 'akash sharma', 'screen_name': 'akashsh24505539', 'location': None, 'verified': 0, 'followers_count': 4, 'statuses_count': 717, 'friends_count': 38}
{'id': '1000818233073643521', 'name': 'lagartixa. 🦎', 'screen_name': 'anasilvaalemos', 'location': 'Leiria, Portugal', 'verified': 0, 'followers_count': 411, 'statuses_count': 31767, 'friends_count': 666}
{'id': '1000909083648626688', 'name': 'Vou', 'screen_name': '_foder_', 'location': 'Tua', 'verified': 0, 'followers_count': 145, 'statuses_count': 3640, 'friends_count': 130}
{'id': '1001030727083921408', 'name': 'Besta Mlagila', 'screen_name': 'BestaMlagila', 'location': None, 'verified': 0, 'followers_count': 11404, 'statuses_count': 22407, 'friends_count': 635}
{'id': '1001125846696869888', 'name': 'Aazadi', 'screen_name': '_Kannadiga_', 'location': 'Bengaluru, India', 'verified': 0, 'followers_count': 219, 'statuses_count': 19712, 'friends_count': 273}
{'id': '1001152129153847296', 'name': '👑شَهيد|•Y•B•N•L•|', 'screen_name': 'Remmzor_YBNL', 'location': 'YBNL', 'verified': 0, 'followers_count': 16654, 'statuses_count': 165830, 'friends_count': 9651}
{'id': '1001288964911837184', 'name': 'michael🚜🚜🚜🚜', 'screen_name': 'michael51740963', 'location': 'Den Haag, Nederland', 'verified': 0, 'followers_count': 483, 'statuses_count': 71570, 'friends_count': 376}
{'id': '1001342136636211200', 'name': 'NaMurali', 'screen_name': 'NaMurali4', 'location': 'Puducherry', 'verified': 0, 'followers_count': 273, 'statuses_count': 11714, 'friends_count': 339}
{'id': '1001416802600026122', 'name': 'Mahesh Manathkar', 'screen_name': 'MaheshManathkar', 'location': 'Nandad', 'verified': 0, 'followers_count': 4, 'statuses_count': 21, 'friends_count': 103}
{'id': '1001493468030689280', 'name': 'DIGNEAU #Journaliste 🇪🇺🇫🇷', 'screen_name': 'DIGNEAU5', 'location': 'Carignan-de-Bordeaux 33', 'verified': 0, 'followers_count': 809, 'statuses_count': 55052, 'friends_count': 427}
{'id': '1001524548066562048', 'name': 'Schwesterfraudoktor', 'screen_name': 'SchwesterFD', 'location': 'Deutschland', 'verified': 0, 'followers_count': 21687, 'statuses_count': 19557, 'friends_count': 631}
{'id': '1001560210769670150', 'name': 'TWITMO INMATE ⭐️⭐️⭐️ Text TRUMP to 88022', 'screen_name': 'TWITMO_INMATE', 'location': 'United States', 'verified': 0, 'followers_count': 33385, 'statuses_count': 224714, 'friends_count': 36639}
{'id': '100159468', 'name': 'Adjeng Nuryunita H.', 'screen_name': 'jojoadjeng', 'location': 'My own world', 'verified': 0, 'followers_count': 258, 'statuses_count': 2920, 'friends_count': 333}
{'id': '1001614285498470400', 'name': 'JEvaans', 'screen_name': 'EvaansJ', 'location': 'Cologne, Germany', 'verified': 0, 'followers_count': 67, 'statuses_count': 3127, 'friends_count': 280}
{'id': '1001682339045494789', 'name': 'Chulbul patidar', 'screen_name': 'Ajay19139859', 'location': None, 'verified': 0, 'followers_count': 7, 'statuses_count': 1530, 'friends_count': 61}
{'id': '1001699137157517312', 'name': 'G', 'screen_name': 'gregorykickz', 'location': None, 'verified': 0, 'followers_count': 416, 'statuses_count': 5614, 'friends_count': 390}
{'id': '100170929', 'name': 'Biçda', 'screen_name': 'bicda', 'location': 'turkey', 'verified': 0, 'followers_count': 5474, 'statuses_count': 21783, 'friends_count': 616}
{'id': '100187512', 'name': 'Eddy de Bruin', 'screen_name': 'EddydeBruin', 'location': 'Nederland; Rijssen', 'verified': 0, 'followers_count': 425, 'statuses_count': 6286, 'friends_count': 156}
{'id': '1001876336648978433', 'name': 'pritish kumar panda', 'screen_name': 'pritishkumarpa4', 'location': None, 'verified': 0, 'followers_count': 32, 'statuses_count': 12451, 'friends_count': 361}
{'id': '1001914387', 'name': 'YanYu SD #Lfc', 'screen_name': 'sdashafa', 'location': 'NoRth ', 'verified': 0, 'followers_count': 141, 'statuses_count': 4339, 'friends_count': 183}
{'id': '1001969613213548544', 'name': 'Micheal Cahoon', 'screen_name': 'CahoonMicheal', 'location': 'California', 'verified': 0, 'followers_count': 2323, 'statuses_count': 29603, 'friends_count': 2858}
{'id': '1002015555853869057', 'name': 'Run Niddufira', 'screen_name': 'malkist_roma', 'location': 'Indonesia', 'verified': 0, 'followers_count': 41, 'statuses_count': 1177, 'friends_count': 223}
{'id': '100205653', 'name': 'Atul', 'screen_name': 'realatulsingh', 'location': 'India', 'verified': 0, 'followers_count': 28, 'statuses_count': 991, 'friends_count': 51}
{'id': '1002243622346125312', 'name': 'karo', 'screen_name': 'Karo87783166', 'location': 'Aichi-Ken - Sao Paulo, Brazil', 'verified': 0, 'followers_count': 178, 'statuses_count': 2645, 'friends_count': 343}
{'id': '1002318420321472512', 'name': '【ذو القرنين】ابراهيم بن اسماعيل', 'screen_name': '3thoalgarneen', 'location': None, 'verified': 0, 'followers_count': 714, 'statuses_count': 64397, 'friends_count': 1249}
{'id': '1002319988', 'name': 'doarproatlub', 'screen_name': 'doarproatlub', 'location': None, 'verified': 0, 'followers_count': 512, 'statuses_count': 16757, 'friends_count': 648}
{'id': '100246605', 'name': 'Dhaval Kothari🇵🇾', 'screen_name': 'dhavalbdq', 'location': 'Towson MD', 'verified': 0, 'followers_count': 54, 'statuses_count': 24287, 'friends_count': 187}
{'id': '1002466106450341893', 'name': 'rodrick heffley fan account😼 86', 'screen_name': 'v4mpirewh0re', 'location': 'she/her || 17', 'verified': 0, 'followers_count': 450, 'statuses_count': 14598, 'friends_count': 420}
{'id': '1002567099506675712', 'name': 'Joshi Ashvin', 'screen_name': 'JoshiAshvin4', 'location': 'Deesa, India', 'verified': 0, 'followers_count': 102, 'statuses_count': 139, 'friends_count': 113}
{'id': '1002607440628723712', 'name': 'عمار الاثوري', 'screen_name': 'ammarmohme2', 'location': None, 'verified': 0, 'followers_count': 199, 'statuses_count': 1596, 'friends_count': 55}
{'id': '1002622311000834049', 'name': 'Tush Yoruba Guy', 'screen_name': 'daataa31', 'location': None, 'verified': 0, 'followers_count': 566, 'statuses_count': 7244, 'friends_count': 238}
{'id': '1002836756809551872', 'name': 'Zekiye Ataç', 'screen_name': 'Zekiye_Atac', 'location': 'Eşim Cezaevi, Oğlum Almanya', 'verified': 0, 'followers_count': 17182, 'statuses_count': 18309, 'friends_count': 646}
{'id': '1002894800', 'name': 'Diego Chimbo', 'screen_name': 'DiegoFChimboV', 'location': None, 'verified': 0, 'followers_count': 1917, 'statuses_count': 843, 'friends_count': 430}
{'id': '1002953971315585024', 'name': '🎂Sehun Day!🎂', 'screen_name': 'olalala94', 'location': 'exo.x1.mcnd', 'verified': 0, 'followers_count': 935, 'statuses_count': 17952, 'friends_count': 1326}
{'id': '1003035806473379841', 'name': 'zubair', 'screen_name': 'zubair83039934', 'location': 'Brent, London', 'verified': 0, 'followers_count': 1570, 'statuses_count': 48464, 'friends_count': 4991}
{'id': '1003120840186085377', 'name': 'Megha Sharma', 'screen_name': 'NaveeMeg', 'location': None, 'verified': 0, 'followers_count': 14, 'statuses_count': 2645, 'friends_count': 25}
{'id': '1003164013683867648', 'name': 'pat', 'screen_name': 'patluvdpr', 'location': 'Jakarta Capital Region', 'verified': 0, 'followers_count': 111, 'statuses_count': 3801, 'friends_count': 279}
{'id': '1003321398', 'name': 'Suju Fans', 'screen_name': 'elfsyaKyu89', 'location': 'IMAGINE', 'verified': 0, 'followers_count': 129, 'statuses_count': 5216, 'friends_count': 53}
{'id': '1003424900', 'name': 'SRIDHAR IYER', 'screen_name': 'SRIDHAR0520', 'location': 'INDIA', 'verified': 0, 'followers_count': 462, 'statuses_count': 54860, 'friends_count': 627}
{'id': '1003460467128295426', 'name': 'khaika13', 'screen_name': 'khaika13', 'location': 'Bekasi, Jawa Barat', 'verified': 0, 'followers_count': 11, 'statuses_count': 2846, 'friends_count': 192}
{'id': '1003471018202103808', 'name': 'Maquiavellum 🐱', 'screen_name': 'SanMJ2018', 'location': 'Entre los Andes y el Atlantico', 'verified': 0, 'followers_count': 873, 'statuses_count': 39261, 'friends_count': 136}
{'id': '1003481071281848320', 'name': 'हिन्द के निवासी🇮🇳🇮🇳', 'screen_name': 'Indian46516018', 'location': 'lapataganj', 'verified': 0, 'followers_count': 133, 'statuses_count': 18832, 'friends_count': 189}
{'id': '1003523831695372288', 'name': 'agucu', 'screen_name': 'agucu3', 'location': None, 'verified': 0, 'followers_count': 36, 'statuses_count': 167, 'friends_count': 873}
{'id': '1003554342', 'name': 'd', 'screen_name': 'ansothmn', 'location': 'Kuantan, Pahang', 'verified': 0, 'followers_count': 723, 'statuses_count': 32724, 'friends_count': 387}
{'id': '1003656299589132291', 'name': 'Wolfgang Wiehle, MdB', 'screen_name': 'WolfgangWiehle', 'location': None, 'verified': 0, 'followers_count': 828, 'statuses_count': 491, 'friends_count': 308}
{'id': '1003697563', 'name': 'Aysha Moolla', 'screen_name': 'ayshamoolla', 'location': None, 'verified': 0, 'followers_count': 1505, 'statuses_count': 390970, 'friends_count': 640}

In [61]:
count_sql = "SELECT COUNT(*) AS total_records FROM Users"

# Execute the SELECT query
with connection.cursor() as cursor:
    # Execute the query
    cursor.execute(count_sql)
    # Fetch the result
    result = cursor.fetchone()

# Print the count of total records
total_records = result['total_records']
print("Total records in the Users table:", total_records)

Total records in the Users table: 15505